{% extends 'base.html' %}

{% block content %}
    <h1>All pet photos</h1>
    {% if all_photos %}
        {% for photo in all_photos %}
            <p>Photo posted by: {{ photo.created_by_user.get_full_name }}</p>
            <p>Location: {{ photo.photo_shooting_location }}</p>
            <p>Photo picture: {{ photo.photo_file.url }}</p>
            <p>Likes: {{ photo.likes }}</p>
            {% for pet in photo.tagged_pets.all %}
                <p>Pet Name: {{ pet.name }}</p>
            {% endfor %}
            <p>Date/ Time of Publication: {{ photo.date_time_of_publication }}</p>
            <form method="post" action="{% url 'add-comment' photo.id %}">
                {% csrf_token %}
                {{ comment_form }}
            <input type="submit" value="Comment">
            </form>
        {% endfor %}
    {% else %}
        No photos yet
    {% endif %}
{% endblock %}