{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="edit-delete">
        <h2>Edit Profile</h2>

        <form method="post">
            {% csrf_token %}

            <p class="error"> {{ user_form.username.errors }} </p>
            <div class="label-input">
                <label for="first name">Username: </label>
                {{ user_form.username }}
            </div>
            <br>

            {% for field in profile_form %}
                <p class="error"> {{ field.errors }} </p>
                <div class="label-input">
                    <label> {{ field.label }}: </label>
                    {% if field.label != "Gender" %}
                        {{ field }}
                    {% else %}
                        <div class="list-choice">
                            <div class="list-choice-title">Gender</div>
                            <div class="list-choice-objects">
                                {% for value in field %}
                                    <label>
                                        <input type="radio" value="{{ value.choice_label }}" name="gender"
                                                {% if value.choice_label == value %}
                                               checked
                                                {% endif %}/>
                                        <span>{{ value.choice_label }}</span>
                                    </label>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
                <br>
            {% endfor %}

            <button class="edit-btn" type="submit">Edit</button>
        </form>
    </div>
{% endblock %}