{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="pet-profile">
        <div class="profile">
            <div class="profile-data">
                <div class="profile_img">
                    <div class="image">
                        <img src="{{ pet.pet_photo }}"
                             alt="img8">
                    </div>
                </div>
                <div class="personal">
                    <div class="edit">
                        <p>{{ pet.name }}</p>
                        {% if request.user.is_authenticated %}
                            <a href="{% url 'edit-pet' profile.user.username pet.slug %}">
                                <img class="edit-img" src="{% static 'images/edit-pen-icon-6.jpg' %}" alt="edit button">
                            </a>
                            <a href="{% url 'delete-pet' profile.user.username pet.slug %}">
                                <img class="bin-img" src="{% static 'images/icon-remove-22.jpg' %}" alt="bin button">
                            </a>
                        {% endif %}
                    </div>
                    <div class="data">
                        <span>{{ photos|length }}</span>
                        <p>photos</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="pet-posts">
            {% include 'common/pets-posts.html' %}
        </div>
    </div>
{% endblock %}