<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet"
		href="../styles/styles.css">
	<link rel="icon" type="image/x-icon" href="../images/free-30-instagram-stories-icons23_122570.png">
	<title>Petstagram</title>
	
</head>
<body>

<!-- Our Header section Starts from here -->
	<header>
		<nav class="navbar">
			<div class="container">
				<div class="logo">
					<a href="#">
					    <img width="50px" src="../images/free-30-instagram-stories-icons23_122570.png" alt="img1">
					</a>

					
				<a class="home" href="#">
					<i>Petstagram</i>
				</a>
				</div>
				
				<div class="nav-links">
					<ul class="nav-group">
						<li class="nav-item">
							<a href="">
								<i>Add Pet</i>
							</a>
						</li>
						
						<li class="nav-item">
							<a href="">
								<i>Add Photo</i>
							</a>
						</li>

						<li class="nav-item">
							<a href="">
								<i>Profile</i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>

    <main>
        <div class="edit-delete edit-pet">
            <h2>Edit photo</h2>

            <form action="">
				<input type="text" placeholder="Link to image" value="img_link.com">
                <br>

                <input type="text" placeholder="Description" value="New aquarium for Sasho">
                <br>
				<label for="pets">Tag Pets:</label>
				<br>

				<select name="pets" id="pets" multiple>
					<option>Sasho</option>
					<option>Perry</option>
					<option>Bucky</option>
					<option>Steve</option>
				</select>

                <button class="edit-btn" type="submit">Edit Photo</button>
            </form>
        </div>
    </main>
</body>
</html>