.userDetails a {
    color: initial;
}

.pet-details {
    margin: 5px 0 5px -1px;
}

.comments {
    display: flex;
    margin-top: 10px;
    border-top: 1px solid #ddd;
}

.comments .top {
    padding: 10px !important;
}

.comments p {
    margin-top: 9.5px;
    font-size: 13px;
    width: 70%;
    font-weight: bold;
    color: rgb(70, 65, 65);
}

.add-comment-details .addComments {
    margin-top: 0 !important;
}

.edit-delete-btns {
    position: absolute;
    top: 20px;
    right: 10px;
}

.edit-delete-btns img {
    width: 20px;
    margin-left: 5px;
}