{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="profile">
        <div class="profile-data">
            <div class="profile_img">
                <div class="image">
                    <img src="{{ profile.profile_picture }}" alt="img8">
                </div>
            </div>
            <div class="personal">
                <div class="edit">
                    <p>{{ user.username }}</p>
                    {% if request.user.is_authenticated and request.user.id == profile.user.id %}
                        <a href="{% url 'edit-profile' user.id %}">
                            <img class="edit-img" src="{% static 'images/edit-pen-icon-6.jpg' %}" alt="edit button">
                        </a>
                        <a href="{% url 'delete-profile' user.id %}">
                            <img class="bin-img" src="{% static 'images/icon-remove-22.jpg' %}" alt="bin button">
                        </a>
                    {% endif %}
                </div>
                <div class="data">
                    <span>{{ photos_count }}</span>
                    <p>photos</p>

                    <span>{{ pets|length }}</span>
                    <p>pets</p>

                    <span>{{ total_likes_count }}</span>
                    <p>likes</p>
                </div>
                <h3 class="names">
                    {% if profile.first_name %}
                        {{ profile.first_name }}
                    {% endif %}
                    {% if profile.last_name %}
                        {{ profile.last_name }}
                    {% endif %}
                </h3>
                <p class="email">
                    {% if profile.email %}
                        {{ profile.email }}
                    {% endif %}
                </p>
                <p class="gender">
                    {% if profile.gender and profile.gender != 'Do not show' %}
                        {{ profile.gender }}
                    {% endif %}
                </p>
            </div>
        </div>
        <div class="pets">
            <div class="statuses">
                {% for pet in pets %}
                    <a href="{% url 'pet-details' profile.user.username pet.slug %}">
                        <div class="head-pet">
                            <div class="status">
                                <div class="image">
                                    <img src="{{ pet.pet_photo }}"
                                         alt="pet img">
                                </div>
                            </div>
                            <p>{{ pet.name }}</p>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="pet-photos">
            {% if page_obj.object_list %}
                {% for photo in page_obj.object_list %}
                    <a href="{% url 'photo-details' photo.id %}">
                        <img src="{{ photo.photo_file.url }}"
                             alt="pet img">
                    </a>
                {% endfor %}

                <div class="pagination">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>

                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">next</a>
                            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            {% else %}
                <div class="no-posts-holder">
                    <img class="no-posts" src="{% static 'images/no_posts.png' %}" alt="no posts image">
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}